* {
    margin: 0;
    padding: 0;
    outline: 0 !important;
    text-decoration: none !important;
    list-style-type: none !important;
}

body,
html {
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;

}

body {
    background-image: url("bg-desktop.svg");
    background-size: 90% 100%;
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
    position: relative;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    width: 90%;
}

p {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 1.2rem;
    width: 95%;
    margin-top: 1rem;
}

button {
    font-family: "Open Sans", sans-serif;
    background: white;
    font-size: 1.3rem;
    padding: 1rem;
    margin-top: 2rem;
    height: 62px;
    width: 245px;
    border-radius: 30px;
    border: none;
    color: hsl(257, 40%, 49%);
    box-shadow: 5px 5px 20px hsl(0, 0%, 15%);
    transition: background 0.25s;
}

button:hover {
    background: #dbdbdb;
}

header {
    margin: 4.5rem 0rem 2rem 4.5rem;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.right {
    width: 40%;
    max-width: 580px;
    margin: 3.2rem 1.5rem 5rem 10rem;
}

#mockup {
    margin: 1rem 2.5rem 3.5rem 4.5rem;
    width: 50%;
    max-width: 900px;
}

.icons {
    text-align: right;
    margin: 1.1rem;
    position: absolute;
    bottom: 10px;
    right: 30px;
}

i {
    margin: 0.5rem;
    color: white;
}

footer {
    text-align: center;
    margin: 1.5rem;
    position: absolute;
    bottom: 10px;
    left: 50%;
}

address {
    position: relative;
    left: -50%;
}

.attribution {

    font-size: 11px;
    text-align: center;
    width: 100%;
}

.attribution a {
    color: hsl(228, 80%, 10%);
}

@media (max-width: 1100px) {
    header {
        margin: 2rem 0 3.5rem 2rem;
    }

    header img {
        width: 45%;
    }

    .container {
        flex-direction: column;
        width: 100%;
    }

    #mockup {
        margin: auto;
        width: 80%;
    }

    body {
        background-image: url("bg-mobile.svg");
        background-size: 100%;
        background-repeat: no-repeat;
    }

    h2 {
        font-size: 1.6rem;
        width: 95%;
        margin: 1.5rem auto;
    }

    p {
        font-size: 1.1rem;
        margin: 1rem auto;
    }

    .right {
        margin: 0.5rem auto;
        text-align: center;
        width: 95%;
    }

    button {
        width: 200px;
        margin-bottom: 3.5rem;
    }

    .icons {
        position: relative;
        margin: 1rem auto;
        margin-bottom: 2rem;
        text-align: center;
        right: 0;
        bottom: 0;
    }

    footer {
        position: relative;
        bottom: 0;
        left: 0;
    }

}